body {
  background-color: $bg-color;
  font-size: $paragraph-font-size;
  color: $text-color;
  font-family: $paragraph-font-family;
}

#main-content {
  margin-bottom: 20px;
}

footer {
  background-color: $bg-footer;
}
